html,
body {
  font-family: "Museo Sans 500";
  height: 100%;
  width: 100%;
  color: #3D3D3E;
}

body {
  position: relative;
  overflow: hidden;
  background: url("../images/wallpaper-mobile.png");
}

a {
  color: inherit;
}

.kud-Header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*margin-top: -5.625rem;
  margin-left: -5.625rem;*/
  background: #151515;
  height: 11.25rem;
  width: 11.25rem;
  line-height: 11.25rem;
  border-radius: 50%;
  text-align: center;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}

.kud-Header:before {
  display: block;
  position: absolute;
  border: 1px dashed white;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  margin-top: -45%;
  margin-left: -45%;
  content: '';
}

.kud-Header:hover {
  background: white;
  color: #151515;
}

.kud-Header:hover:before {
  border: 1px dashed #151515;
}

.kud-Header--alternative {
  display: none;
}


.kud-Header-heading {
  font-family: 'Brothers Regular', sans-serif;
  margin: 0;
  font-size: 2.8em;
  font-weight: normal;
}


.kud-Links {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
}

.kud-Links ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: -.3125rem;
}

.kud-Links li {
  display: inline-block;
  margin-right: .3125rem;
  margin-bottom: .2rem;
}

.kud-Links li a {
  background: #151515;
  display: block;
  width: 2.875rem;
  height: 2.875rem;
  position: relative;
  border-radius: 50%;
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 2.8125rem;
  transition: all 0.3s ease;
}

.kud-Links li a span {
  display: none;
}

.kud-Links li a:hover {
  background: white;
  color: #151515;
}

.kud-About {
  background: #151515;
  color: white;
  padding: .625rem;
  padding-bottom: 0.3rem;
  font-family: 'Haymaker', sans-serif;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 1.75rem;
}

.kud-About p {
  margin: 0;
  padding: 0;
}

.kud-About--hidden {
  display: none;
}

@media only screen and (max-width: 568px) and (orientation: landscape) {

  .kud-Header {
    top: 5%;
    transform: translate(-50%, 0);
  }

  .kud-About {
    top: 30%;
    transform: translate(0, -50%);
  }

}

@media only screen and (min-width: 600px) and (min-height: 600px) {

  .kud-About {
    width: 21.25rem;
    height: 21.25rem;
    font-size: 3.125rem;
    transform: translate(-50%, -50%);
    left: 50%;
    right: auto;
  }

  .kud-About p {
    margin: 0;
    margin-top: 6.5rem;
  }

}
