.kud-Svg--500px {
  width: 16em;
  height: 16em;
}
.kud-Svg--email {
  width: 16em;
  height: 16em;
}
.kud-Svg--equalizer {
  width: 16em;
  height: 16em;
}
.kud-Svg--flickr {
  width: 16em;
  height: 16em;
}
.kud-Svg--github {
  width: 16em;
  height: 16em;
}
.kud-Svg--instagram {
  width: 16em;
  height: 16em;
}
.kud-Svg--linkedin {
  width: 16em;
  height: 16em;
}
.kud-Svg--pencil {
  width: 16em;
  height: 16em;
}
.kud-Svg--pinterest {
  width: 16em;
  height: 16em;
}
.kud-Svg--twitter {
  width: 16em;
  height: 16em;
}
.kud-Svg--wolf {
  width: 1em;
  height: 1em;
}