/**
 * Svg
 */
.kud-Svg {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kud-Svg--half {
  width: .5em;
  height: .5em;
}

.kud-Svg--white  { fill: #fff; }
.kud-Svg--black  { fill: #000; }
.kud-Svg--green  { fill: #27AE60; }
.kud-Svg--red    { fill: #DB4437; }
.kud-Svg--orange { fill: #FD9426; }

.kud-SvgEvent {
  position: relative;
}

.kud-SvgEvent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
