<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="dev,css,css3,html,html5,api,javascript,js,zepto,jquery,backbone,nodejs,node,front-end,frontend,front">
        <base href="{{ site.baseurl }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.base_urls.styles }}/{{ site.assets.main.style }}?{{ 'now' | date: "%Y%m%d%H%M%S" }}">
        <link href="feed.xml" rel="alternate" type="application/rss+xml">
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
    </head>
    <body>
        {{ content }}
        <script src="{{ site.base_urls.scripts }}/{{ site.assets.main.script }}?{{ 'now' | date: "%Y%m%d%H%M%S" }}"></script>
    </body>
</html>
