<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <meta name="keywords" content="erwann,erwan,mest,paris,developpeur,développeur,dev,css,css3,html,html5,api,javascript,js,zepto,jquery,backbone,nodejs,node,frontend,front">
        <meta name="description" content="Erwann Mest -- Fullstack JavaScript Developer">
        <base href="{{ site.baseurl }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.base_urls.styles }}/{{ site.assets.main.style }}?{{ 'now' | date: "%Y%m%d%H%M%S" }}">
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link href="feed.xml" rel="alternate" type="application/rss+xml">
    </head>
    <body>
        {{ content }}
        <script src="{{ site.base_urls.scripts }}/{{ site.assets.main.script }}?{{ 'now' | date: "%Y%m%d%H%M%S" }}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-25156890-5', 'kud.io');
          ga('send', 'pageview');
        
        </script>
    </body>
</html>
