<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="dev,css,css3,html,html5,api,javascript,js,zepto,jquery,backbone,nodejs,node,front-end,frontend,front">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
    </head>
    <body>
        {{ content }}
        <script src="{{site.baseurl}}/assets/js/script.js"></script>
        {% if site.livereload %}<script>document.write('<script src="//'
    + (location.host || 'localhost').split(':')[0]
    + ':35728/livereload.js"></'
    + 'script>')</script>{% endif %}
    </body>
</html>
