@import "compass/css3";
@import "CSS:../../../bower_components/normalize-css/normalize";
@import "fonts";
@import "icons";
@import "animation";
@import "animate";

html,
body {
  font-family:"Museo Sans 500";
  height: 100%;
  width: 100%;
  font-size: 1em;
  color: #3D3D3E;
}

body {
  position: relative;
  overflow: hidden;
  background: url("../img/irongrip.png");
}

a {
    color: inherit;
}

.kud-Header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -(180px / 2);
  margin-left: -(180px / 2);
  background: #151515;
  height: 180px;
  width: 180px;
  line-height: 180px;
  @include border-radius(50%);
  text-align: center;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;

  &:before {
    display: block;
    position: absolute;
    border: 1px dashed white;
    @include border-radius(50%);
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    margin-top: -45%;
    margin-left: -45%;
    content: '';
  }

  &:hover {
    background: white;
    color: #151515;

    &:before {
      border: 1px dashed #151515;
    }
  }
}

.kud-Header--alternative {
  display: none;
}

.kud-Header-heading {
  //font-family: 'Futura PT Bold', sans-serif;
  font-family: 'Brothers Regular', sans-serif;
  margin: 0px;
  font-size: 2.8em;
  font-weight: normal;
}

.kud-Links {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: -5px;
  }

  li {
    display: inline-block;
    margin-right: 5px;

    a {
      background: #151515;
      display: block;
      width: 46px;
      height: 46px;
      position: relative;
      @include border-radius(50%);
      font-size: 28px;
      color: white;
      text-decoration: none;
      text-align: center;
      line-height: 45px;
      transition: all 0.3s ease;

      span {
        display: none;
      }

      &:hover {
        background: white;
        color: #151515;
      }
    }
  }
}

.kud-About {
  background: #151515;
  margin: 10px;
  color: white;
  padding: 10px;
}

.kud-About--hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    background: url("../img/background-3.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
}