@import "compass";
@import "../_components/normalize.scss/normalize.scss";
@import "fonts";

html,
body {
    font-family:"Museo Sans 500";
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: #3D3D3E;
}

a {
    color: inherit;
}

.main-title {
  font-family: 'Futura PT Bold', sans-serif;
  font-size: 60px;
  color: #3D3D3E;
  @include inline-block();
  margin: 0;
}

%section {
  position: relative;
  height: 100%;
  width: 100%;

  .title {
    font-family: 'Futura PT Bold', sans-serif;
    color: #FF5959;
    border-bottom: 1px solid #EABFC8;
    @include inline-block();
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
  }

  .wrapper {
    padding: 5px;
  }
}

.myself {
  @extend %section;
  background: white;
  overflow: hidden;

  .avatar {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      max-height: 40%;
      max-width: 40%;
    }

    img {
      @include inline-block();
      vertical-align: middle;
      @include border-radius(50%);
    }
  }
}

.about {
  padding: 0 20px;
}